.back{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(8,0,58,0.7),rgba(8,0,58,0.7)),
    url('../edusity_assets/hero.png');
    background-size: cover;
    background-position: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    text-align: center;
    max-width: 750px;
}
h1{
    font-weight: 600;
}