nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    width: 100%;
    color: white;
    position: fixed;
    padding: 5px 0;
    z-index: 10;
}
.logo{
    width: 200px;
}
.navbar ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.navbar ul li{
    list-style: none;
    font-size: 25px;
    margin: 0px 10px;
}
.navbar ul li a{
    transition: all 0.25s ease ;
}
.navbar li a:hover{
    background-color: rgba(255,255,255,0.2);
    cursor: pointer;
}
button{
    color: white;
    font-size: 25px;
}
.darks{
    background: linear-gradient(rgba(8,0,58,0.7),rgba(8,0,58,0.7))
}
@media (max-width: 1000px) {
   .logo{
    width: 150px;
   }
   nav ul li{
    margin: 18px;
   }
}
.three{
    display: none;
}
@media (max-width: 840px) {
    nav{
        padding: 10px;
    }
    nav ul {
    position: fixed;        
    flex-direction: column;
    top: 0;
    padding: 80px;
    margin: 15px;
    right: 0;
    bottom: 0;
    background:linear-gradient(rgba(8,0,58,0.7),rgba(8,0,58,0.7));
    width: 200px;
    z-index: -1;
    transition: 0.5s ease;
    }
    nav ul li{
        display:inline-block;
        margin: 5% 0;
    }
    .three{
        display: block;
        width: 40px;
        cursor: pointer;
    }
    .hidemobile{
        right: -250px;
    }
 }
