.title {
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%; 
    font-size: 24px;
    font-weight: 700;
    color: rgba(4, 78, 181, 0.975);
    margin: 50px 0;
}
